# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular Data Science tools
- Write arithmetic expression

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. scikit-learn
4. tensorflow
5. caffe
6. pytorch

| Data Science Tools |
----
| Anaconda |
| RStudio |
| Git |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

## Author
Wasakorn Pakdeesan